*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 1cm;
}
h2{
    text-align: center;
}
label{
    color: black;
    font-size: 17px;
    font-style: italic;
}
.question{
    width: 500px;
    padding: 15px 25px 25px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 0.5cm;
}
button{
    display: block;
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(75, 55, 55);
    color: white;
}
.echec {
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}